body{
   margin: 0;
   padding: 0;
   background:white;
}

.container{
    width: 360px;
    height: 640px;
    position: relative;
    font-family: "Poppins", sans-serif;

}
.container img{
    width: auto;
    height: auto;

}
.text-1{
    color: white;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px; 

}
.text-2{
    text-align: center;
    left: 50%;
    transform: translate(-40%, -40%);
    color: white;
    position: absolute;
    top: 15%;
    font-size: 13px; 
}
.text-3{
    color: white;
    position: absolute;
    top: 20%;
    font-size: 15px; 
    
;
    
}
.text-4{
    color: white;
    position: absolute;
    top: 23%;
    font-size: 13px; 
;
}

.text-5{
    font-size: 5px;
    color: white;
    position: absolute;
    top: 45%;
    font-size: 13px; 
    left: 50%;
    transform: translate(-50%, -50%);
    
;
}
.button{
    background-color: orange;
    color: white;
    font-size: 20px;
     position: absolute;
     padding: 5px 20px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    
}